body{
    background: #cac9c9;
}
.container {
    position: relative;
    color: black;
  }
.top,top-2{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.portfolio{
    width: 300px;
    height: 200px;
    background: white;
    position: relative;
    text-align: center;
    color: black;
    margin: auto;
    padding: 10px;

}
.tab{
    margin: auto;
}
