<div class="p-3 mb-2 bg-white text-dark">
 <form class="justify-content-center">
      <div margin-left="5px">
            <h1><strong> Contact</strong></h1>
             <div class="col-10">
                     <p>Done ullamcorper nulla non metus actor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus
                    magna, vel scelerisque isl consectetur. Fuse dapibus, tellus ac cursus commodo.</p>
              </div>
        </div>
  </form>
  
  
     <form class="d-flex justify-content-center">
          <div class="col-6 ">
              <div class="p-3 mb-2 bg-light text-dark justify-content-center">
                  <div class="form-group">
                      <div class="d-flex p-2">
                          <label for="exampleFormControlInput1">Email address</label>
                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
                      </div> 
                  </div>     
              </div>
    
              <div class="form-group">
                 <div class="row">
                      <div class="col-5">       
                            <label for="exampleFormControlTextarea1">Your message</label>
                       </div>
                     <div class="col-7">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
                     </div>
                 </div>  
              </div>
              <div class="card-body d-flex justify-content-end align-items-center">
                <a href="#" class="btn btn-primary btn-sm">Submit</a>
                </div>
          
            </div>
      </form> 
    
      
</div>