<div class="p-3 mb-2 bg-light text-dark">
  <div class="container" >
     <div class="row">
         <div class="d-flex p-2">
          <h1 margin-right="1"> The First heading </h1> <h1 class="text-muted"> Will Catch Your Eye</h1>
        </div>
      </div>
     <div class="row">
          <div class="col-7">
            <p>Done ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Present commodo cursus magna, vel scelerisque nisl
                consectetur. Fuse dapibus, tellus ac cursus commodo.</p>
          </div> 
         <div class="col-5">
          <img src="../website/assets/img/1.jpg" class="rounded-circle " alt="Cinque Terre" height="400" width="400" >
         </div>
     </div>
  </div>
</div> 