<div class=" p-3 mb-2 bg-light portfolio">
    <div style="text-align:left; padding-left: 10px; font-size: large;"><h1><strong>Portfolio <br></strong></h1></div>
    <div style="text-align:left; padding-left: 10px; padding-right: 33px; font-size: smaller">        
        Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue.
    </div>
    <table class="tab">
        <tr> 
            <td>
                <div class="top-2">
                    <span class="badge" style="background: gainsboro; color: grey; width: 420px;height: 130px;font-size: small;padding-top: 13%;">700x400</span>
                </div>
            </td> 
            <td>
                <div class="top-2">
                    <span class="badge" style="background: gainsboro; color: grey; width: 420px;height: 130px;font-size: small;padding-top: 13%;">700x400</span>
                </div>
            </td>
            <td>
                <div class="top-2">            
                    <span class="badge" style="background: gainsboro; color: grey; width: 420px;height: 130px;font-size: small;padding-top: 13%;">700x400</span>
                </div>
            </td>          
        </tr>
        <tr>
            <td>                
                <div style="text-align:left; padding-left: 10px; padding-right: 12px; font-size: x-small;color: blue;"><strong>Project Name<br></strong></div>
                <div style="text-align:left; padding-left: 10px; padding-right: 12px; font-size: xx-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </td>            
            <td>                
                <div style="text-align:left; padding-left: 10px; padding-right: 12px; font-size: x-small;color: blue;"><strong>Project Name<br></strong></div>
                <div style="text-align:left; padding-left: 10px; padding-right: 12px; font-size: xx-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </td>
            <td>                
                <div style="text-align:left; padding-left: 10px; padding-right: 12px; font-size: x-small;color: blue;"><strong>Project Name<br></strong></div>
                <div style="text-align:left; padding-left: 10px; padding-right: 12px; font-size: xx-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </td>
        </tr>
    </table>
</div>