<div class="portfolio">
    <div style="text-align:left; padding-left: 10px; font-size: small;"><strong>Portfolio <br></strong></div>
    <div style="text-align:left; padding-left: 10px; padding-right: 33px; font-size: xx-small">        
        Donec ullamcorper nulla non metus auctor fringilla, tellus ac cursus commodo.
    </div>
    <table class="tab">
        <tr> 
            <td>
                <div class="top-2">
                    <span class="badge" style="background: gainsboro; color: grey; width: 80px;height: 50px;font-size: small;padding-top: 20%;">700x400</span>
                </div>
            </td> 
            <td>
                <div class="top-2">
                    <span class="badge" style="background: gainsboro; color: grey; width: 80px;height: 50px;font-size: small;padding-top: 20%;">700x400</span>
                </div>
            </td>
            <td>
                <div class="top-2">            
                    <span class="badge" style="background: gainsboro; color: grey; width: 80px;height: 50px;font-size: small;padding-top: 20%;">700x400</span>
                </div>
            </td>          
        </tr>
        <tr>
            <td>                
                <div style="text-align:left; padding-left: 10px; padding-right: 12px; font-size: x-small;color: blue;"><strong>Project Name<br></strong></div>
                <div style="text-align:left; padding-left: 10px; padding-right: 12px; font-size: xx-small">Lorem ipsum dolor sit amet, sed do eiusmod.</div>
            </td>            
            <td>                
                <div style="text-align:left; padding-left: 10px; padding-right: 12px; font-size: x-small;color: blue;"><strong>Project Name<br></strong></div>
                <div style="text-align:left; padding-left: 10px; padding-right: 12px; font-size: xx-small">Lorem ipsum dolor sit amet, sed do eiusmod.</div>
            </td>
            <td>                
                <div style="text-align:left; padding-left: 10px; padding-right: 12px; font-size: x-small;color: blue;"><strong>Project Name<br></strong></div>
                <div style="text-align:left; padding-left: 10px; padding-right: 12px; font-size: xx-small">Lorem ipsum dolor sit amet, sed do eiusmod.</div>
            </td>
        </tr>
    </table>
</div>